.body{
    background-image: url(search.htm);
    background-repeat: no-repeat;
}
.ul{
    background-color: black;
    color: white;
}
.www{
    text-align: center;
    padding: top 200px;;
}
.ww{
    text-align: center;
    padding-top: 200px;
}
.w{
    text-align: center;
    padding-top: 200px;
}